In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import random

In [3]:
df_opened_summary = pd.read_csv('data/opened_company_summary_final.csv', index_col=0)
df_opened_summary.head()

,BIZ_NO,BZ_TYP,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,IND_CD1,MDSCO_PRTC_YN,ESTB_DATE,EMP_CNT,IS_LP,IS_LC,IS_LTD,IS_SP,IS_ETC,HAS_HOMEPAGE,CEO_CNT,label
0,2218116923,5,1,0,0,41200.0,0,20000807.0,12.0,0,0,1,0,0,0,2.0,0
1,1138111739,5,1,0,0,47712.0,0,19660419.0,43.0,0,0,1,0,0,1,2.0,0
2,1108146490,5,1,0,0,27210.0,0,20000612.0,3.0,0,0,1,0,0,1,1.0,0
3,3128134737,5,1,0,0,10795.0,0,19920301.0,24.0,0,0,1,0,0,1,1.0,0
4,2078132193,5,1,0,0,15190.0,0,19910806.0,35.0,0,0,1,0,0,1,2.0,0

In [4]:
df_closed_summary = pd.read_csv('data/closed_company_summary_final.csv', index_col=0)
df_closed_summary.head()

,BIZ_NO,BZ_TYP,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,IND_CD1,MDSCO_PRTC_YN,ESTB_DATE,EMP_CNT,IS_LP,IS_LC,IS_LTD,IS_SP,IS_ETC,HAS_HOMEPAGE,CEO_CNT,label
0,1268145633,5,1,0,0,30391.0,0,20000529.0,40.0,0,0,1,0,0,1,1.0,1
1,1388101749,5,1,0,0,46610.0,0,19850110.0,13.0,0,0,1,0,0,1,1.0,1
2,1068179240,5,1,0,0,46510.0,0,19990601.0,1.0,0,0,1,0,0,0,1.0,1
3,2248114507,5,1,0,0,25991.0,0,19980522.0,6.0,0,0,1,0,0,0,2.0,1
4,1168132785,5,1,0,0,24199.0,0,19930226.0,40.0,0,0,1,0,0,1,1.0,1

In [16]:
df_total_summary = pd.concat([df_opened_summary, df_closed_summary]).reset_index(drop=True)
df_total_summary.head(10)

,BIZ_NO,BZ_TYP,HDOF_BR_GB,FR_IVST_CORP_YN,VENT_YN,IND_CD1,MDSCO_PRTC_YN,ESTB_DATE,EMP_CNT,IS_LP,IS_LC,IS_LTD,IS_SP,IS_ETC,HAS_HOMEPAGE,CEO_CNT,label
0,2218116923,5,1,0,0,41200.0,0,20000807.0,12.0,0,0,1,0,0,0,2.0,0
1,1138111739,5,1,0,0,47712.0,0,19660419.0,43.0,0,0,1,0,0,1,2.0,0
2,1108146490,5,1,0,0,27210.0,0,20000612.0,3.0,0,0,1,0,0,1,1.0,0
3,3128134737,5,1,0,0,10795.0,0,19920301.0,24.0,0,0,1,0,0,1,1.0,0
4,2078132193,5,1,0,0,15190.0,0,19910806.0,35.0,0,0,1,0,0,1,2.0,0
5,4028122626,5,1,0,0,33999.0,0,19970117.0,7.0,0,0,1,0,0,1,1.0,0
6,2228111902,5,1,0,0,23322.0,0,20001216.0,10.0,0,0,1,0,0,0,1.0,0
7,3098101550,5,1,0,0,58122.0,0,19891119.0,4.0,0,0,1,0,0,0,1.0,0
8,1318141997,5,1,0,0,26421.0,0,19910802.0,28.0,0,0,1,0,0,1,1.0,0
9,4088112223,5,1,0,0,42321.0,0,19890921.0,12.0,0,0,1,0,0,0,1.0,0

In [11]:
df_histories = pd.read_csv('data/all_histories.csv', index_col=0)
df_histories

,BIZ_NO,year,bankrupcy_1month,bankrupcy_3month,bankrupcy_6month,bankrupcy_1year,bankrupcy_2year,bankrupcy_3year,bankrupcy_total,rest_1month,...,rest_3year,rest_total,closed_1month,closed_3month,closed_6month,closed_1year,closed_2year,closed_3year,closed_total,label
0,1018163758,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
1,1018163758,2019,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
2,1018163758,2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
3,1018163758,2021,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
4,1018163758,2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38620,8998701263,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38621,8998701263,2019,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38622,8998701263,2020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38623,8998701263,2021,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
38624,8998701263,2022,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_histories.label.sum()

6377

In [10]:
df_fin = pd.read_csv('data/finantial_data_final.csv', index_col=0)
df_fin

,BIZ_NO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,M19800,...,MC1800,MC1900,MC2100,MC2200,MC3100,MD1100,MD1800,MD2300,MD2400,year
0,1018100340,2667731.0,32346444.0,1179096.0,35014174.0,422872.0,16598939.0,721100.0,3859072.0,18415235.0,...,5.259400e+01,6.411,2.296000e+00,8.784100e+01,2.503810e+02,1.630000e-01,1.000000e+12,4.406200e+01,1.000000e+12,2018
1,1018100340,2168837.0,34151633.0,1209369.0,36320470.0,10553878.0,15794323.0,721100.0,3708092.0,20526147.0,...,5.650000e+01,-23.100,5.140000e+01,2.550000e+01,2.414000e+02,1.840000e-01,1.000000e+12,5.909200e+01,2.708568e+11,2019
2,1018100340,2272260.0,38329680.0,1091153.0,40601940.0,863144.0,16359261.0,721100.0,4230449.0,24242679.0,...,5.970800e+01,3.471,3.560000e+00,6.392100e+01,2.757190e+02,1.540000e-01,1.000000e+12,6.871400e+01,1.000000e+12,2020
3,1018100340,1175030.0,37135811.0,993025.0,38310842.0,9494272.0,14395654.0,721100.0,5169522.0,23915187.0,...,6.242400e+01,-21.715,3.970000e+01,2.049500e+01,2.337490e+02,1.560000e-01,1.000000e+12,3.497900e+01,1.000000e+12,2021
4,1018100772,422146.0,20370096.0,20352846.0,20792242.0,2684934.0,14089571.0,52000.0,-7410129.0,6702671.0,...,3.223600e+01,-10.883,4.005800e+01,1.701510e+02,1.250082e+03,5.500000e-02,1.000000e+12,6.971100e+01,1.000000e+12,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109137,8998800427,9192992.0,9735232.0,9409374.0,18928223.0,11017981.0,17637362.0,514500.0,-1183183.0,1290862.0,...,6.820000e+00,-9.642,8.535370e+02,5.127880e+02,7.009100e+01,1.477000e+00,6.785000e+00,7.950000e+00,9.792000e+00,2021
109138,8998800785,3608435.0,271541001.0,271541001.0,275149436.0,164335821.0,240816259.0,37780000.0,-3315168.0,34333177.0,...,1.000000e+12,-58.415,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,1.000000e+12,2018
109139,8998800785,475283.0,309796969.0,309796969.0,310272251.0,3722434.0,278499351.0,37780000.0,-5875445.0,31772900.0,...,1.000000e+12,-1.047,1.000000e+12,1.000000e+12,8.888889e+11,0.000000e+00,1.000000e+12,1.000000e+12,1.000000e+12,2019
109140,8998800785,1474607.0,366181956.0,366181956.0,367656563.0,1593683.0,337438077.0,37780000.0,-7429859.0,30218486.0,...,1.000000e+12,-0.032,1.000000e+12,1.000000e+12,8.888889e+11,0.000000e+00,1.000000e+12,1.000000e+12,1.000000e+12,2020
109141,8998800785,2540577.0,422469161.0,420110684.0,425009738.0,282361726.0,408021534.0,37780000.0,-20660140.0,16988204.0,...,1.000000e+12,-65.839,1.000000e+12,1.000000e+12,3.711585e+04,3.000000e-03,1.000000e+12,1.000000e+12,1.000000e+12,2021

In [58]:
merged_df1 = df_fin.merge(df_histories, how='right', left_on=['BIZ_NO', 'year'], right_on=['BIZ_NO', 'year'])
merged_df1.head(7)

,BIZ_NO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,M19800,...,rest_3year,rest_total,closed_1month,closed_3month,closed_6month,closed_1year,closed_2year,closed_3year,closed_total,label
0,1018163758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,2,0
1,1018163758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,2,0
2,1018163758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,2,0
3,1018163758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,2,0
4,1018163758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,2,0
5,1018180233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,1
6,1018180233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0

In [59]:
merged_df1.label.sum()

6380

In [60]:
na_list = []
vals = []
for idx, val in zip(merged_df1.isna().sum().index, merged_df1.isna().sum().values):
    if val > 0:
        na_list.append(idx)
        vals.append(val)

In [61]:
na_list[:20]

['M11000',
 'M12000',
 'M12300',
 'M14900',
 'M15000',
 'M19900-M19800',
 'M71000',
 'M75000',
 'M19800',
 'M21000',
 'M24000',
 'M25000',
 'M29000',
 'M29900',
 'MB1500',
 'MB2700',
 'MB2800',
 'MB3100',
 'MB3200',
 'MB3400']

In [62]:
na_list[20:]

['MB3500',
 'MB3510',
 'MB3600',
 'MB4200',
 'MB5200',
 'MB5300',
 'MC1600',
 'MC1700',
 'MC1800',
 'MC1900',
 'MC2100',
 'MC2200',
 'MC3100',
 'MD1100',
 'MD1800',
 'MD2300',
 'MD2400']

In [63]:
for col in na_list:
    merged_df1[col] = merged_df1[col].fillna(merged_df1[col].mean())

In [64]:
columns=[
    'bankrupcy_1month', 'bankrupcy_3month', 'bankrupcy_6month', 'bankrupcy_1year', 'bankrupcy_2year', 'bankrupcy_3year', 'bankrupcy_total',
    'rest_1month', 'rest_3month', 'rest_6month', 'rest_1year', 'rest_2year', 'rest_3year', 'rest_total',
    'closed_1month', 'closed_3month', 'closed_6month', 'closed_1year', 'closed_2year', 'closed_3year', 'closed_total', 'label'
]
#for col in columns:
#    merged_df1[col] = merged_df1[col].fillna(0)

In [65]:
df_total_summary1 = df_total_summary.drop(columns=['label'])

In [66]:
merged_df2 = merged_df1.merge(df_total_summary1, how='inner', left_on=['BIZ_NO'], right_on=['BIZ_NO'])
merged_df2

,BIZ_NO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,M19800,...,MDSCO_PRTC_YN,ESTB_DATE,EMP_CNT,IS_LP,IS_LC,IS_LTD,IS_SP,IS_ETC,HAS_HOMEPAGE,CEO_CNT
0,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20000930.0,5.0,0,0,1,0,0,1,2.0
1,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20000930.0,5.0,0,0,1,0,0,1,2.0
2,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20000930.0,5.0,0,0,1,0,0,1,2.0
3,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20000930.0,5.0,0,0,1,0,0,1,2.0
4,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20000930.0,5.0,0,0,1,0,0,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,8998701263,8.933159e+06,2.002072e+07,1.431236e+07,8.933159e+06,3.715000e+03,7.167470e+05,4.590000e+05,-9884.000000,8.216413e+06,...,0,20180831.0,2.0,0,0,1,0,0,0,1.0
38756,8998701263,9.038197e+06,2.002072e+07,1.431236e+07,9.038197e+06,6.260000e+02,7.295930e+05,4.590000e+05,82307.000000,8.308604e+06,...,0,20180831.0,2.0,0,0,1,0,0,0,1.0
38757,8998701263,9.104839e+06,2.002072e+07,1.431236e+07,9.104839e+06,6.250000e+02,7.404070e+05,4.590000e+05,138136.000000,8.364432e+06,...,0,20180831.0,2.0,0,0,1,0,0,0,1.0
38758,8998701263,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20180831.0,2.0,0,0,1,0,0,0,1.0
38759,8998701263,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0,20180831.0,2.0,0,0,1,0,0,0,1.0

In [67]:
df_env = pd.read_csv('data/envionment_variables.csv', index_col=0)
df_env.head()

,year,environment_0,environment_1,environment_2,environment_3,environment_4,environment_5,environment_6,environment_7,environment_8,...,environment_38,environment_39,environment_40,environment_41,environment_42,environment_43,environment_44,environment_45,environment_46,environment_47
0,2018,0.907988,0.252790,-0.836119,0.208836,0.689215,0.308029,0.222713,-0.143369,0.269238,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
1,2019,0.895566,0.154985,-0.677076,0.262682,0.664284,0.308673,0.235090,-0.044086,0.192558,...,0.457368,1.195705,-0.215413,0.457419,-1.123654,0.626728,4.370901,3.212240,3.616920,4.204389
2,2020,0.868523,0.293043,-0.856014,0.408743,0.712269,0.384764,0.237792,-0.049457,0.175862,...,0.576555,0.992868,-0.260887,0.578474,-1.061072,0.840630,4.407979,3.225611,3.633551,4.243101
3,2021,0.800536,0.205418,-0.814548,0.302683,0.727625,0.248605,0.116277,-0.098420,0.314634,...,0.539748,1.102761,-0.200335,0.732133,-1.103896,0.752479,4.385896,3.212321,3.608874,4.244657
4,2022,0.873671,0.207385,-0.783847,0.259146,0.637665,0.183020,0.190067,-0.056027,0.288552,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489

In [68]:
merged_df3 = merged_df2.merge(df_env, how='inner', left_on=['year'], right_on=['year'])
merged_df3

,BIZ_NO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,M19800,...,environment_38,environment_39,environment_40,environment_41,environment_42,environment_43,environment_44,environment_45,environment_46,environment_47
0,1018163758,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
1,1018180233,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
2,1018537786,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
3,1018615019,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
4,1018649275,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.664215,1.152391,-0.149386,0.789055,-1.348532,0.905948,4.394809,3.209903,3.618974,4.242476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38755,8988100371,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489
38756,8988600037,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489
38757,8998600312,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489
38758,8998700283,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489
38759,8998701263,8.391057e+06,1.087567e+07,7.817386e+06,1.866502e+07,8.687756e+06,1.323142e+07,2.030216e+06,56752.116063,5.510893e+06,...,0.515271,1.044406,-0.478153,0.518133,-1.070263,0.546140,4.337283,3.202262,3.593646,4.201489

In [69]:
merged_df3.columns[:30]

Index(['BIZ_NO', 'M11000', 'M12000', 'M12300', 'M14900', 'M15000',
       'M19900-M19800', 'M71000', 'M75000', 'M19800', 'M21000', 'M24000',
       'M25000', 'M29000', 'M29900', 'MB1500', 'MB2700', 'MB2800', 'MB3100',
       'MB3200', 'MB3400', 'MB3500', 'MB3510', 'MB3600', 'MB4200', 'MB5200',
       'MB5300', 'MC1600', 'MC1700', 'MC1800'],
      dtype='object')

In [70]:
merged_df3.columns[30:60]

Index(['MC1900', 'MC2100', 'MC2200', 'MC3100', 'MD1100', 'MD1800', 'MD2300',
       'MD2400', 'year', 'bankrupcy_1month', 'bankrupcy_3month',
       'bankrupcy_6month', 'bankrupcy_1year', 'bankrupcy_2year',
       'bankrupcy_3year', 'bankrupcy_total', 'rest_1month', 'rest_3month',
       'rest_6month', 'rest_1year', 'rest_2year', 'rest_3year', 'rest_total',
       'closed_1month', 'closed_3month', 'closed_6month', 'closed_1year',
       'closed_2year', 'closed_3year', 'closed_total'],
      dtype='object')

In [71]:
merged_df3.columns[60:90]

Index(['label', 'BZ_TYP', 'HDOF_BR_GB', 'FR_IVST_CORP_YN', 'VENT_YN',
       'IND_CD1', 'MDSCO_PRTC_YN', 'ESTB_DATE', 'EMP_CNT', 'IS_LP', 'IS_LC',
       'IS_LTD', 'IS_SP', 'IS_ETC', 'HAS_HOMEPAGE', 'CEO_CNT', 'environment_0',
       'environment_1', 'environment_2', 'environment_3', 'environment_4',
       'environment_5', 'environment_6', 'environment_7', 'environment_8',
       'environment_9', 'environment_10', 'environment_11', 'environment_12',
       'environment_13'],
      dtype='object')

In [72]:
merged_df3.columns[90:]

Index(['environment_14', 'environment_15', 'environment_16', 'environment_17',
       'environment_18', 'environment_19', 'environment_20', 'environment_21',
       'environment_22', 'environment_23', 'environment_24', 'environment_25',
       'environment_26', 'environment_27', 'environment_28', 'environment_29',
       'environment_30', 'environment_31', 'environment_32', 'environment_33',
       'environment_34', 'environment_35', 'environment_36', 'environment_37',
       'environment_38', 'environment_39', 'environment_40', 'environment_41',
       'environment_42', 'environment_43', 'environment_44', 'environment_45',
       'environment_46', 'environment_47'],
      dtype='object')

In [73]:
merged_df3 = merged_df3.drop(columns=['year'])

In [74]:
merged_df3.to_csv('data/data_for_predict.csv')