In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import random

In [14]:
df_fin = pd.read_csv('data/financial_data.csv')

In [15]:
df_fin.head(10)

,BIZ_NO,STT_YR_MO,M11000,M11130,M12000,M12300,M14900,M15000,M16000,M19900-M19800,...,MC2200,MC3100,MD1100,MD1800,MD2300,MD2400,M11150,M22000,M12500,M11500
0,1018100340,20181231,2667731.0,127320.0,32346444.0,1179096.0,35014174.0,422872.0,16176067.0,16598939.0,...,87.841,250.381,0.163,1.000000e+12,4.406200e+01,1.000000e+12,NaN,NaN,NaN,NaN
1,1018100340,20191231,2168837.0,94085.0,34151633.0,1209369.0,36320470.0,10553878.0,5240445.0,15794323.0,...,25.500,241.400,0.184,1.000000e+12,5.909200e+01,NaN,NaN,NaN,NaN,NaN
2,1018100340,20201231,2272260.0,78612.0,38329680.0,1091153.0,40601940.0,863144.0,15496117.0,16359261.0,...,63.921,275.719,0.154,1.000000e+12,6.871400e+01,1.000000e+12,NaN,NaN,NaN,NaN
3,1018100340,20211231,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,...,20.495,233.749,0.156,1.000000e+12,3.497900e+01,1.000000e+12,3243.0,NaN,NaN,NaN
4,1018100772,20181231,422146.0,17011.0,20370096.0,20352846.0,20792242.0,2684934.0,11404637.0,14089571.0,...,170.151,1250.082,0.055,1.000000e+12,6.971100e+01,1.000000e+12,386880.0,524746.0,NaN,NaN
5,1018100772,20191231,449696.0,18495.0,20926406.0,20909156.0,21376102.0,3304660.0,11357238.0,14661898.0,...,169.200,1274.400,0.054,1.000000e+12,6.480800e+01,NaN,413224.0,518253.0,NaN,NaN
6,1018100772,20201231,509847.0,1044.0,21038587.0,21033337.0,21548434.0,2847579.0,12704550.0,15552129.0,...,211.873,2348.636,0.031,1.000000e+12,6.778000e+01,1.000000e+12,449517.0,692134.0,NaN,NaN
7,1018100772,20211231,549804.0,NaN,21237198.0,21231948.0,21787002.0,3733712.0,12704550.0,16438262.0,...,237.524,5085.026,0.015,1.000000e+12,1.000000e+12,1.000000e+12,517157.0,337407.0,NaN,NaN
8,1018101126,20181231,1351285.0,113210.0,36411870.0,34583466.0,37763155.0,8504807.0,3161608.0,11666416.0,...,12.115,426.863,0.113,1.000000e+12,2.470800e+01,1.000000e+12,1011.0,1523670.0,1147.0,NaN
9,1018101126,20191231,1055593.0,98361.0,34963634.0,34440519.0,36019227.0,8535536.0,3017746.0,11553281.0,...,12.300,463.400,0.068,1.000000e+12,2.357000e+01,NaN,1150.0,1520222.0,703.0,NaN

In [16]:
df_fin.isna().sum()

BIZ_NO               0
STT_YR_MO            0
M11000             999
M11130           18010
M12000            2025
M12300            7244
M14900             989
M15000            1144
M16000           11260
M19900-M19800     1070
M71000            1029
M75000            1273
M19800             997
M21000            5408
M24000            1375
M25000            1096
M29000            1280
M29500           35684
M29900            1049
MB1500              33
MB2700             127
MB2800             133
MB3100             660
MB3200             659
MB3400             661
MB3500             159
MB3510            5277
MB3600             659
MB4200            2135
MB5200              94
MB5300            1743
MC1600             121
MC1700             376
MC1800             119
MC1900             119
MC2100             132
MC2200             993
MC3100             624
MD1100              15
MD1800              14
MD2300            2068
MD2400            3376
M11150           27548
M22000           17769
M12500           53849
M11500           29366
dtype: int64

In [17]:
len(df_fin)

109142

In [18]:
len(df_fin.columns)

46

In [19]:
df_fin.isna().sum().values

array([    0,     0,   999, 18010,  2025,  7244,   989,  1144, 11260,
        1070,  1029,  1273,   997,  5408,  1375,  1096,  1280, 35684,
        1049,    33,   127,   133,   660,   659,   661,   159,  5277,
         659,  2135,    94,  1743,   121,   376,   119,   119,   132,
         993,   624,    15,    14,  2068,  3376, 27548, 17769, 53849,
       29366])

In [20]:
df_fin.isna().sum().index

Index(['BIZ_NO', 'STT_YR_MO', 'M11000', 'M11130', 'M12000', 'M12300', 'M14900',
       'M15000', 'M16000', 'M19900-M19800', 'M71000', 'M75000', 'M19800',
       'M21000', 'M24000', 'M25000', 'M29000', 'M29500', 'M29900', 'MB1500',
       'MB2700', 'MB2800', 'MB3100', 'MB3200', 'MB3400', 'MB3500', 'MB3510',
       'MB3600', 'MB4200', 'MB5200', 'MB5300', 'MC1600', 'MC1700', 'MC1800',
       'MC1900', 'MC2100', 'MC2200', 'MC3100', 'MD1100', 'MD1800', 'MD2300',
       'MD2400', 'M11150', 'M22000', 'M12500', 'M11500'],
      dtype='object')

In [21]:
drop_columns = []
for col, value in zip(df_fin.isna().sum().index, df_fin.isna().sum().values):
    if value <= 10000:
        df_fin[col] = df_fin[col].fillna(df_fin[col].mean())
    else:
        drop_columns.append(col)
df_fin1 = df_fin.drop(columns=drop_columns)
df_fin1.head(10)

,BIZ_NO,STT_YR_MO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,...,MC1700,MC1800,MC1900,MC2100,MC2200,MC3100,MD1100,MD1800,MD2300,MD2400
0,1018100340,20181231,2667731.0,32346444.0,1179096.0,35014174.0,422872.0,16598939.0,721100.0,3859072.0,...,1.000000e+12,52.594,6.411,2.296,87.841,250.381,0.163,1.000000e+12,4.406200e+01,1.000000e+12
1,1018100340,20191231,2168837.0,34151633.0,1209369.0,36320470.0,10553878.0,15794323.0,721100.0,3708092.0,...,0.000000e+00,56.500,-23.100,51.400,25.500,241.400,0.184,1.000000e+12,5.909200e+01,2.708568e+11
2,1018100340,20201231,2272260.0,38329680.0,1091153.0,40601940.0,863144.0,16359261.0,721100.0,4230449.0,...,1.000000e+12,59.708,3.471,3.560,63.921,275.719,0.154,1.000000e+12,6.871400e+01,1.000000e+12
3,1018100340,20211231,1175030.0,37135811.0,993025.0,38310842.0,9494272.0,14395654.0,721100.0,5169522.0,...,1.000000e+12,62.424,-21.715,39.700,20.495,233.749,0.156,1.000000e+12,3.497900e+01,1.000000e+12
4,1018100772,20181231,422146.0,20370096.0,20352846.0,20792242.0,2684934.0,14089571.0,52000.0,-7410129.0,...,3.834900e+01,32.236,-10.883,40.058,170.151,1250.082,0.055,1.000000e+12,6.971100e+01,1.000000e+12
5,1018100772,20191231,449696.0,20926406.0,20909156.0,21376102.0,3304660.0,14661898.0,52000.0,-7398595.0,...,3.950000e+01,31.400,-13.400,49.200,169.200,1274.400,0.054,1.000000e+12,6.480800e+01,2.708568e+11
6,1018100772,20201231,509847.0,21038587.0,21033337.0,21548434.0,2847579.0,15552129.0,52000.0,-8116494.0,...,4.503100e+01,27.827,-10.849,47.489,211.873,2348.636,0.031,1.000000e+12,6.778000e+01,1.000000e+12
7,1018100772,20211231,549804.0,21237198.0,21231948.0,21787002.0,3733712.0,16438262.0,52000.0,-8764059.0,...,4.957400e+01,24.550,-14.614,69.805,237.524,5085.026,0.015,1.000000e+12,1.000000e+12,1.000000e+12
8,1018101126,20181231,1351285.0,36411870.0,34583466.0,37763155.0,8504807.0,11666416.0,1539640.0,-2242909.0,...,2.208500e+01,69.106,-18.943,32.590,12.115,426.863,0.113,1.000000e+12,2.470800e+01,1.000000e+12
9,1018101126,20191231,1055593.0,34963634.0,34440519.0,36019227.0,8535536.0,11553281.0,1539640.0,-3873702.0,...,2.320000e+01,67.900,-20.800,34.900,12.300,463.400,0.068,1.000000e+12,2.357000e+01,2.708568e+11

In [22]:
df_fin1['year'] = df_fin1.STT_YR_MO.map(lambda x: int(str(x)[:4]))

In [25]:
df_fin1 = df_fin1.drop(columns=['STT_YR_MO'])
df_fin1.head(10)

,BIZ_NO,M11000,M12000,M12300,M14900,M15000,M19900-M19800,M71000,M75000,M19800,...,MC1800,MC1900,MC2100,MC2200,MC3100,MD1100,MD1800,MD2300,MD2400,year
0,1018100340,2667731.0,32346444.0,1179096.0,35014174.0,422872.0,16598939.0,721100.0,3859072.0,18415235.0,...,52.594,6.411,2.296,87.841,250.381,0.163,1.000000e+12,4.406200e+01,1.000000e+12,2018
1,1018100340,2168837.0,34151633.0,1209369.0,36320470.0,10553878.0,15794323.0,721100.0,3708092.0,20526147.0,...,56.500,-23.100,51.400,25.500,241.400,0.184,1.000000e+12,5.909200e+01,2.708568e+11,2019
2,1018100340,2272260.0,38329680.0,1091153.0,40601940.0,863144.0,16359261.0,721100.0,4230449.0,24242679.0,...,59.708,3.471,3.560,63.921,275.719,0.154,1.000000e+12,6.871400e+01,1.000000e+12,2020
3,1018100340,1175030.0,37135811.0,993025.0,38310842.0,9494272.0,14395654.0,721100.0,5169522.0,23915187.0,...,62.424,-21.715,39.700,20.495,233.749,0.156,1.000000e+12,3.497900e+01,1.000000e+12,2021
4,1018100772,422146.0,20370096.0,20352846.0,20792242.0,2684934.0,14089571.0,52000.0,-7410129.0,6702671.0,...,32.236,-10.883,40.058,170.151,1250.082,0.055,1.000000e+12,6.971100e+01,1.000000e+12,2018
5,1018100772,449696.0,20926406.0,20909156.0,21376102.0,3304660.0,14661898.0,52000.0,-7398595.0,6714204.0,...,31.400,-13.400,49.200,169.200,1274.400,0.054,1.000000e+12,6.480800e+01,2.708568e+11,2019
6,1018100772,509847.0,21038587.0,21033337.0,21548434.0,2847579.0,15552129.0,52000.0,-8116494.0,5996305.0,...,27.827,-10.849,47.489,211.873,2348.636,0.031,1.000000e+12,6.778000e+01,1.000000e+12,2020
7,1018100772,549804.0,21237198.0,21231948.0,21787002.0,3733712.0,16438262.0,52000.0,-8764059.0,5348740.0,...,24.550,-14.614,69.805,237.524,5085.026,0.015,1.000000e+12,1.000000e+12,1.000000e+12,2021
8,1018101126,1351285.0,36411870.0,34583466.0,37763155.0,8504807.0,11666416.0,1539640.0,-2242909.0,26096739.0,...,69.106,-18.943,32.590,12.115,426.863,0.113,1.000000e+12,2.470800e+01,1.000000e+12,2018
9,1018101126,1055593.0,34963634.0,34440519.0,36019227.0,8535536.0,11553281.0,1539640.0,-3873702.0,24465946.0,...,67.900,-20.800,34.900,12.300,463.400,0.068,1.000000e+12,2.357000e+01,2.708568e+11,2019

In [26]:
df_fin1.to_csv('data/finantial_data_final.csv')

In [27]:
df_fin1.year.value_counts()

2018    30692
2019    27303
2021    25409
2020    25350
2022      388
Name: year, dtype: int64